# Python virtual environment
venv/
.venv/
env/
ENV/

__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv


# IDE/Editor
.idea/
.vscode/

# Logs
logs/
*.logs


# FastAPI specific
.fastapi_cache/

# UV specific
.uv/
.uvdata/
